.contactus {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: #fff;
    background-color: #0077b6; /* Footer blue background */
  }
  
  .contact-details {
    max-width: 40%;
  }
  
  .contact-details h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .contact-details p {
    margin: 5px 0;
    color: #d3d3d3;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .contact-form {
    max-width: 50%;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    background-color: #4a4a4a;
    color: #fff;
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #ccc;
  }
  
  .contact-form .submit-btn {
    padding: 10px 0;
    font-size: 1rem;
    background-color: #ff6f00;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .contact-form .submit-btn:hover {
    background-color: #e65c00;
  }
  
  html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
  }
  