/* App.css */

/* Basic global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

/* Ensure that the app container doesn't have default margins or paddings */
.App {
  margin: 0;
  padding: 0;
}
